* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

.container {
  max-width: 1200px;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.buttonheader {
  padding: 12px 20px;
  background: #b61984;
  color: #fff;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.buttonheader:hover {
  color: red;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
}

header .navbar {
  color: #000000;
  padding: 0;
}

header .navbar .navbar-brand {
  padding: 0;
}

header .navbar .navbar-brand img {
  height: 80px;
  width: 80px;
}

header .navbar .navbar-collapse .nav-item {
  padding-right: 50px;
}

header .navbar .navbar-collapse .nav-item .nav-link {
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  height: 80px;
  line-height: 80px;
}

header .navbar .navbar-collapse .nav-item .nav-link::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  margin: -4px auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b61984;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navbar .navbar-collapse .nav-item .nav-link:hover {
  color: #b61984;
}

header .navbar .navbar-collapse .nav-item .nav-link:hover::after {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .navbar .navbar-collapse .active .nav-link::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .navbar .contact_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .navbar .contact_header a {
  font-size: 13.5px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #b61984;
}

header .navbar .contact_header a:hover {
  color: #b61984;
  background-color: #fff;
  border: 1px solid #b61984;
}

header .navbar .contact_header .contact_icon {
  font-size: 12px;
}

header .navbar .contact_header .contact_icon:hover {
  color: #b61984;
}

.About {
  position: relative;
}

.About .about-content .about-text {
  padding-right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.About .about-content .about-text h1 {
  color: #b61984;
  font-size: 16px;
  font-weight: 600;
}

.About .about-content .about-text h2 {
  color: #191919;
  font-size: 57px;
  font-weight: 700;
}

.About .bg-bottom {
  bottom: 0;
  margin-top: 130px;
  width: 100%;
}

.About .About-item {
  position: absolute;
  padding: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.layouttag {
  background-color: #dbd1f0;
  background-image: url(../../img/Wave_White_bottom_right_shape_01.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.layouttag .row .card {
  overflow: hidden;
  border: 0;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.layouttag .row .card:hover {
  -webkit-box-shadow: 2px 15px 25px 0px #8b8a8a;
          box-shadow: 2px 15px 25px 0px #8b8a8a;
}

.layouttag .row .card img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.layouttag .row .card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.layouttag .row .card .card-body {
  text-align: center;
}

.layouttag .row .card .card-body h1 {
  color: #b61984;
  font-size: 11px;
  font-weight: 600;
}

.layouttag .row .card .card-body h5 {
  color: #191919;
  font-size: 23px;
  font-weight: 700;
}

.layouttag .row .card .card-body p {
  color: #181818;
  font-size: 15px;
  font-weight: 400;
}

.Port {
  padding-top: 60px;
  background-image: url(../../img/accent_bottom_wave_01.png);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.Port .port_img {
  width: 527px;
  margin-bottom: 45px;
}

.Port .port_send {
  max-width: 100%;
  padding: 0 25px;
  margin-bottom: 45px;
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}

.Port .port_send h5 {
  color: #191919;
  font-size: 38px;
  font-weight: 700;
  margin: 45px 0;
}

.Port .port_send .send_top {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.Port .port_send .send_top .icon-name,
.Port .port_send .send_top .icon-email {
  width: 100%;
  position: relative;
}

.Port .port_send .send_top .icon-name input,
.Port .port_send .send_top .icon-email input {
  width: 100%;
}

.Port .port_send .send_top .icon-name {
  padding-right: 15px;
}

.Port .port_send .send_top i {
  position: absolute;
}

.Port .port_send .send_body .icon-select {
  width: 100%;
  position: relative;
}

.Port .port_send .send_body .icon-select select {
  border: 1px solid rgba(102, 97, 97, 0.315);
  border-radius: 44px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.Port .port_send .send_body .icon-select select:optional {
  padding-left: 25px;
  font-size: 12px;
}

.Port .port_send .send_body .icon-select select:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.315);
}

.Port .port_send .send_body .icon-mes {
  width: 100%;
  position: relative;
}

.Port .port_send .send_body .icon-mes input {
  width: 100%;
}

.Port .port_send .send_body .button-send {
  text-align: center;
  padding: 15px 50px;
  background: #b61984;
  color: #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 44px;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 20px;
}

.Port .port_send .send_body .button-send:hover {
  background-color: #fff;
  border: 1px solid #b61984;
  color: #b61984;
}

.Port input {
  font-size: 12px;
  padding: 10px 10px 10px 30px;
  border: 1px solid rgba(102, 97, 97, 0.315);
  border-radius: 44px;
}

.Port input:placeholder-shown {
  padding-left: 30px;
  font-size: 12px;
}

.Port input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.315);
}

.Port textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 45px;
  font-size: 12px;
  border: 1px solid rgba(102, 97, 97, 0.315);
  border-radius: 35px;
  padding: 10px 10px 10px 30px;
}

.Port textarea:placeholder-shown {
  padding-left: 30px;
  font-size: 12px;
}

.Port textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.315);
}

.Port span {
  color: #b61984;
  position: absolute;
  top: 12px;
  left: 12px;
  line-height: 1rem;
}

footer {
  background-image: url(../../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
  font-size: 13.5px;
  font-weight: 400;
  max-width: 100%;
}

footer .row {
  padding: 120px 0;
}

footer .row .ft-item {
  padding: 0 40px;
}

footer .row .news {
  max-width: 100%;
}

footer .row .news .input-email input {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 44px;
  background-color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: #fff;
  margin-bottom: 10px;
}

footer .row .news .input-email input:focus {
  outline: none;
  border: 1px solid #fff;
}

footer .row .news .input-email input::-webkit-input-placeholder {
  color: #fff;
}

footer .row .news .input-email input:-ms-input-placeholder {
  color: #fff;
}

footer .row .news .input-email input::-ms-input-placeholder {
  color: #fff;
}

footer .row .news .input-email input::placeholder {
  color: #fff;
}

footer .row .news .sub input {
  width: 100%;
  text-align: center;
  color: #191919;
  font-size: 12px;
  font-weight: 700;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 44px;
  background-color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer .row .news .sub input:hover {
  background-color: #b61984;
  border: 1px solid #fff;
  color: #fff;
}

footer .contact-body ul:first-child {
  padding-top: 12px;
}

footer .contact-body li {
  border: none;
  padding: 5px 0;
}

footer .contact-bottom i:hover {
  color: #000000;
}

footer h1 {
  color: #fff;
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 25px;
}

footer ul li {
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  color: #fff;
  font-size: 13.5px;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */