* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

.buttonheader {
  padding: 12px 20px;
  background: #b61984;
  color: #fff;
  border-radius: 50px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.buttonheader:hover {
  color: red;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
}

header .navbar {
  color: #000000;
  padding: 0;
}

header .navbar .navbar-brand {
  padding: 0;
}

header .navbar .navbar-brand img {
  height: 80px;
  width: 80px;
}

header .navbar .navbar-collapse .nav-item {
  padding-right: 50px;
}

header .navbar .navbar-collapse .nav-item .nav-link {
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  height: 80px;
  line-height: 80px;
}

header .navbar .navbar-collapse .nav-item .nav-link::after {
  content: '';
  display: block;
  top: 0;
  left: 0;
  margin: -4px auto;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #b61984;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .navbar .navbar-collapse .nav-item .nav-link:hover {
  color: #b61984;
}

header .navbar .navbar-collapse .nav-item .nav-link:hover::after {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .navbar .navbar-collapse .active .nav-link::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .navbar .contact_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .navbar .contact_header a {
  font-size: 13.5px;
  font-weight: 700;
  text-decoration: none;
}

header .navbar .contact_header .contact_icon {
  font-size: 12px;
}

header .navbar .contact_header .contact_icon:hover {
  color: #b61984;
}

.About {
  position: relative;
  background-image: url(../../img/yellow_top_wave_01.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top right;
}

.About::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../../img/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
}

.About .About-item {
  padding: 60px 0;
}

.layouttag .card {
  overflow: hidden;
  border: 0;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.layouttag .card:hover {
  -webkit-box-shadow: 2px 15px 25px 0px #e1d7d7;
          box-shadow: 2px 15px 25px 0px #e1d7d7;
}

.layouttag .card img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.layouttag .card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.layouttag .card .card-body {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */