.Port {
    padding-top: 60px;
    background-image: url(../../img/accent_bottom_wave_01.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    .port_img {
        width: 527px;
        margin-bottom: 45px;
    }

    .port_send {
        max-width: 100%;
        padding: 0 25px;
        margin-bottom: 45px;
        width: 400px;
        background-color: $color-white;
        border-radius: 15px;
        box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);

        h5 {
            @include StyleText($color-black-2, 38px, 700);
            margin: 45px 0;
        }

        .send_top {
            width: 100%;
            justify-content: space-between;

            .icon-name,
            .icon-email {
                width: 100%;
                position: relative;
                input {
                    width: 100%;
                }
            }
            .icon-name{
                padding-right: 15px;
            }

            padding-bottom: 15px;

            i {
                position: absolute;

            }
        }

        .send_body {
            .icon-select {
                width: 100%;
                position: relative;
                select {
                    border: 1px solid rgba(102, 97, 97, 0.315);
                    border-radius: 44px;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 15px;
    
                    &:optional {
                        // color: $color-pink-1;
                        padding-left: 25px;
                        font-size: 12px;
                    }
                    &:focus {
                        outline: none;
                        border-color: rgba(0, 0, 0, 0.315);
                    }
                }
            }
            .icon-mes {
                width: 100%;
                position: relative;
                input {
                    width: 100%;
                }
            }
            .button-send{
                text-align: center;
                @include buttonall(15px, 50px, $color-pink-1, $color-white);
                @include StyleText( $color-white,12px,700);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 44px;
                transition: all .5s;
                margin-bottom: 20px;
    
                &:hover {
                    background-color: $color-white;
                    border: 1px solid $color-pink-1;
                    color: $color-pink-1;
                }
            }
        }
    }
    input {
        font-size: 12px;
        ;
        padding: 10px 10px 10px 30px;
        border: 1px solid rgba(102, 97, 97, 0.315);
        border-radius: 44px;
        &:placeholder-shown {
            padding-left: 30px;
            font-size: 12px;
        }
        &:focus {
            outline: none;
            border-color: rgba(0, 0, 0, 0.315);
        }
    }
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 45px;
        font-size: 12px;
        border: 1px solid rgba(102, 97, 97, 0.315);
        border-radius: 35px;
        padding: 10px 10px 10px 30px;

        &:placeholder-shown {
            padding-left: 30px;
            font-size: 12px;
        }

        &:focus {
            outline: none;
            border-color: rgba(0, 0, 0, 0.315);
        }
    }
    span{
        color: $color-pink-1;
            position: absolute;
            top: 12px;
            left: 12px;
            line-height: 1rem;
    }

}